*.bak
*.d
*.iso
*.o
*.tmp
*.wbfs
*.wdf
Makefile.local
Makefile.setup
Makefile.user
bin
pool
work
INSTALL.txt
gen-ui
install.sh
load-titles.sh
logo.inc
templates.sed
ui-head.inc
version.h
wdf
wdf-cat
wdf-dump
wfuse
wit
wtest
wwt
